<div class="container">
    
    
    
    <form method="post">
    <h3>Admin Registration</h3>
    <input type="text" name="adminName" placeholder="Admin Name" required>
    <input type="text" name="adminSurname" placeholder="Admin Surname" required>
    <input type="text" name="idNo" placeholder="Admin ID Number" required>
    <input type="text" name="Email" placeholder="Email Address" required>
    <input type="text" name="password" placeholder="password" required>
    
    <button type="submit">Register Admin</button>